<h1>Edit User</h1>

<%= form_for @user, :html => {:multipart => true} do |f|%>

  <%= f.label :cl_image, "Update Profile Picture" %>
  <%= f.cl_image_upload :image %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :role_type %>
  <%= f.select :role_type, [ "Student", "Alumni", "Staff", "Outcomes" ] %>

  <%= f.label :student_class %>
  <%= f.text_field :student_class %>

  <%= f.label :mentor_class, "Mentoring Class" %>
  <%= f.text_field :mentor_class %>

  <%= f.label :start_date %>
  <%= f.date_field :start_date %>

  <%= f.label :network_github %>
  <%= f.text_field :network_github %>

  <%= f.label :network_linkedin %>
  <%= f.text_field :network_linkedin %>

  <%= f.label :network_twitter %>
  <%= f.text_field :network_twitter %>

  <%= f.submit "Update profile" %>
<% end %>
