<h1>All Users</h1>

<% @users.each do |user| %>
  <p>first_name: <%= user.first_name %> --- last_name: <%= user.last_name %> --- email: <%= user.email %> --- student_class: <%= user.student_class %> --- mentor_class: <%= user.mentor_class %></p>
<% end %>
