<h1>All Posts</h1>


<% @posts.each do |post| %>
<div class="card">
    <div class="post_creater">
     <div class="card-header">
       <% if post.user.image? %>
       <%= post.user.image %>
       <% end %>
       <%= post.user.first_name %>
       <% if post.user.last_name? %>
       <%= post.user.last_name %> --
       <% end %>
       <%= post.user.role_type %>
       <p>image of coin</p>
       <p>post.user.total_xp</p>
     </div>
     <h6 class="card-subtitle mb-2 text-muted"><%= post.user.role_type %></h6>
   </div>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.content %></p>

    </div>
    <%= link_to image_tag(post.image, :class=> "card-img-top"), post %>
    <p>x points -- y comments -- </p>
    <p><%= post.points.count %> <%= (post.points.count) == 1 ? 'Person' : 'People'%> found this helpful</p>
    <% if post.user_id == @current_user.id %>
      <p>
        <%= link_to "Edit Post", edit_post_path(post.id) %>
      </p>
    <% end %>
  </div>
<% end %>
