<h1 class="allposts_header">All Posts</h1>

<% @posts.each do |post| %>
  <div class="card allpost_centered shadow-hover rounded-0
  <% if post.user.student_class == @current_user.student_class %>
  <%= "classmates_highlight" %>
  <% end %>
  ">
     <div class="card-header card-header_custom rounded-0">
       <h5 class="post-header font-weight-bold">
       <%= post.title %></h5>
     </div>
    <div class="card-body">
      <% if post.user.image? %>
      <%= cl_image_tag post.user.image, :alt => "user profile pic", :class=>"post_thumbnail" %>
      <% end %>
      <span class="post_username">
      <%= post.user.first_name %>
      <% if post.user.last_name? %>
      <%= post.user.last_name.chars.first %>
      <% end %>
      </span>
      <span class="post_rolestyling badge badge-secondary
      <% if post.user.role_type == "Student" %><%= 'badge-color-student'%><% end %>
      <% if post.user.role_type == "Alumni" %><%= 'badge-color-alumni'%><% end %>
      <% if post.user.role_type == "Outcomes" %><%= 'badge-color-outcomes'%><% end %>
      <% if post.user.role_type == "Staff" %><%= 'badge-color-staff'%><% end %>
      ">
      <%= post.user.role_type %></span>
      <!-- <p>XP</p> -->
      <!-- <p>post.user.total_xp</p> -->
      <div><span class="time_date">Date created: <%= post.created_at.strftime("%l:%M %p - %B %e, %Y") %> | </span><span class="time_date">Last updated: <%= post.updated_at.strftime("%l:%M %p - %B %e, %Y") %></span>
      </div>
      <p class="card-text post_content"><%= truncate(post.content, length: 280) %></p>
      <% if post.image? %>
      <span class="post_image"><%= link_to image_tag(post.image, :class=> "card-img-top"), post %></span>
      <% end %>
      <% if post.hashtag? %>
      <p class="tags-text">Post tags: <span class="italic tags-text"><%= post.hashtag %></span></p>
      <% end %>
    </div>
    <div class="card-footer">
      <small class="text-muted rounded-0">
        <span class="text-alignment1">
          <% if post.points.count > 0 %>
            <p class="helpful_text"><%= post.points.count %> <%= (post.points.count) == 1 ? 'person' : 'people'%> found this post helpful!
          <% end %>
          </p>
        </span>
        <span class="text-alignment2">
          <p class="custom_card_footer">
            <% if post.user_id == @current_user.id %>
            <span><%= link_to "Edit post", edit_post_path(post.id)%> ·</span>
            <% end %>
            <%= link_to "View post", post_path(post.id) %>
          </p>
       </span>
    </small>
    </div>
  </div>
<% end %>
